In [3]:
import pandas as pd
df = pd.read_csv("Documents/salary.csv")
df.head()

  company      job      degree  salary
0  google     sales  bachelors       0
1  google     sales    masters       0
2  google  buisness  bachelors       1
3  google  buisness    masters       1
4  google   program  bachelors       0

In [14]:
inputs = df.drop('salary',axis='columns')
target = df['salary']

In [24]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [16]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [25]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

KeyError: 'job'

In [18]:
inputs

     company      job      degree
0     google     sales  bachelors
1     google     sales    masters
2     google  buisness  bachelors
3     google  buisness    masters
4     google   program  bachelors
5     google   program    masters
6        abc     sales    masters
7        abc   program  bachelors
8        abc  buisness  bachelors
9        abc  buisness    masters
10  facebook     sales  bachelors
11  facebook     sales    masters
12  facebook  buisness  bachelors
13  facebook  buisness    masters
14  facebook   program  bachelors
15  facebook   program    masters

In [19]:
inputs_n = inputs.drop(['company','job','degree'],axis='columns')

KeyError: "['job'] not found in axis"

In [20]:
inputs_n

NameError: name 'inputs_n' is not defined

In [21]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary, dtype: int64

In [22]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [26]:
model.fit(inputs_n,target)

NameError: name 'inputs_n' is not defined

In [27]:
model.score(inputs_n,target)

NameError: name 'inputs_n' is not defined